<div class="hero-unit">

<div class="row-fliud">
<div class="span3">
		<button id="smart" class="btn btn-danger">智能选股</button>
		<p>
		smart select stock 
		</p>
		<!--n
		<div class="process">
			<div class="bar" style="width:100%;"></div>
		</div>
		-->
</div>
<div class="span6 pull-right">
<table class="table">
<tr>
	<td>股票名字</td>
	<td>股票代码</td>
	<td>当前价格</td>
	<td>今日开盘价</td>
	<td>昨日收盘价</td>
</tr>
</table>
</div>
</div>
</div>
<script>
var url = "/stock/query?all";
$('#smart').click(function(){
	$.ajax({url:url}).done(function(data){
		var stockhtml = '';
		var stockjson = JSON.parse(data);
		for(var key in stockjson){
			var _ = stockjson[key];
			if(stockjson[key].now > stockjson[key].yesday)//red
			{
				stockhtml += '<tr class="error"><td>'+_.id+'</td><td>'+key+'</td><td>'+_.now+'</td><td>'+_.today+'</td><td>'+_.yesday+'</td></tr>';
			}
			
			else 
			{
				stockhtml += '<tr class="success"><td>'+_.id+'</td><td>'+key+'</td><td>'+_.now+'</td><td>'+_.today+'</td><td>'+_.yesday+'</td></tr>';				
			}
		}
		
		$('.table').append(stockhtml);
	});
});
</script>
