<script>
var myli = $('.nav li')[0];
myli.className = "active";
console.log(myli);

</script>
<div class="hero-unit">
	<h1>Stock Forecast Web App</h1>
	<p>This is a webbased stock forecast written by ft</p>
	<dl class="dl-horizontal">
		<dt>Frame:</dt>
		<dd>ExpressJS</dd>
		<dt>TMPL Engine:</dt>
		<dd>ejs</dd>
		<dt>CSS:</dt>
		<dd>bootstrap</dd>
		<dt>Database:</dt>
		<dd>MongoDB</dd>
	</dl>
	<p>
		<a class="btn btn-primary btn-large">	Login	</a>
	</p>
</div>
