<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
				<li><a href="#">Primary link</a>
				<li><a href="#">Primary link</a>
				<li class="avtive"><a href="#">Primary link</a>
				<li><a href="#" class="btn btn-large btn-primary disabled">Primary link</a>
				<li><a href="#" class="btn btn-large btn-primary disabled">Primary link</a>
				</ul>
			</div>
		</div>
		<div class="span9">
		this is content
		</div>
	</div>
</div>
